body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #000000; 
    color: #D3D3D3; 
    margin: 20pt;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 32pt;
    text-align: center;
    color: #5c0a96;
}

h2 {
    font-family: 'Courier New', monospace;
    font-size: 26pt;
    color: #6A0DAD;

}

h4, h5 {
    font-family: 'Arial', sans-serif;
    font-size: 20pt;
    color: #D3D3D3; 
}

p {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    color: #D3D3D3; 
}

li {
    font-size: 14pt;
    color: #D3D3D3; 
}

a:link, a:visited {
    color: #1E90FF; 
    text-decoration: none;
}

a:hover {
    color: #9932CC; 
    text-decoration: underline;
}

a:active {
    color: #4B0082; 
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #696969;
}

th, td {
    border: 1px solid #696969; 
    padding: 15px;
    text-align: left;
}

th {
    background-color: #333333; 
    color: #8132b9; 
    font-size: 18pt;
}

td {
    background-color: #1C1C1C; 
}

div.text-container {
    padding: 10px;
    background-color: #333333;
    color: #D3D3D3; 
    font-size: 14pt;
}

div.link-container {
    padding: 10px;
    background-color: #1C1C1C;
    color: #1E90FF; 
    font-size: 14pt;
}

div.link-container a {
    color: #1E90FF;
    text-decoration: none;
}

/* this is the hovering over a link colours */
div.link-container a:hover {
    text-decoration: underline;
    color: #9932CC;
}